<tr>
  <td class="text-center"><%= request.book_name %></td>
  <td class="text-center"><%= request.book_url %></td>  
  <td class="text-center"><%= request.user.email %></td>
  <td class="col-state">
    <%= form_for [:admin ,request], remote: true do |f| %>
      <p class="show-result-state">state changed!</p>      
      <% if request.is_accepted? %>
        <%= f.radio_button :state, "accepted", checked: true %><span>accepted</span>
        <%= f.radio_button :state, "rejected" %><span>rejected</span>      
      <% elsif request.is_rejected? %>
        <%= f.radio_button :state, "accepted" %><span>accepted</span>
        <%= f.radio_button :state, "rejected", checked: true %><span>rejected</span>
      <% else %>  
        <%= f.radio_button :state, "accepted" %><span>accepted</span>
        <%= f.radio_button :state, "rejected" %><span>rejected</span>
      <% end %>
      <%= f.submit "update" %>        
    <% end %>      
  </td>  
</tr>

<script type="text/javascript">
  $(".show-result-state").hide();
  $(".edit_request input[type='submit']").hide();
  $(".edit_request input[type='radio']").click(function(){
    $(this).parent().submit();
    $(this).parent().children("p").show().fadeOut(2000);    
  });
</script>