<li id="category-<%= category.id %>">
<div class="category-info">
  <div class="box-image">
    <%= image_tag category.image.url if category.image? %>
  </div>
  <span><%= category.name %></span>
</div>
<% if current_user.is_admin? %>  
  <div class="manage-category">
    <%= link_to "Edit", edit_category_path(category) %> |
    <%= link_to "delete", category, method: :delete,
                                    data: {confirm: "You sure?"} %>
  </div>
<% end %>
</li>